@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
:root {
    --navbar:rgba(167,152,200,255);
    --dark :rgba(167,152,200,800);
    --black:#444;
    --light-color:#666;
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition:all .2s linear;
    transition:width none;
   
}

/*
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--black);
}
*/

section{
    padding:5rem 9%;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top:50%; left:0;
    transform: translateY(-50%);
    width: 100%;
    height:.01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}

.heading span{
    font-size: 3rem;
    padding:.5rem 2rem;
    color:var(--black);
    background: #fff;
    border:var(--border);
}

.btn{
    margin-top: 1rem;
    display:inline-block;
    padding:.9rem 3rem;
    border-radius: .5rem;
    color:#fff;
    background:var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background:var(--dark);
}

.header .header-1{
    background:#fff;
    padding:1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo{
 font-size: 2.5rem;
 font-weight: bolder;
 margin-top:auto;
 margin-bottom: auto;
 padding: auto;
 
    
}
.logo-img {
    padding-top:1rem;
    padding-bottom: auto;
    margin-top:auto;
    margin-bottom: auto;
    background: black;
    height: 6rem;
    width: auto;
}

.header .header-1 .search-form{
    width:50rem;
    height:4.5rem;
    border:solid 1px black;
    overflow: hidden;
    background:#fff;
    display:flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding:0 1.2rem;
    height:100%;
    width:100%;
    text-transform: none;
    color:var(--black);
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color:var(--green);
}

.header .header-1 .icons {
    margin-left: 10rem;
}
.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    margin-right: .51rem;
    color:var(--black);
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color:var(--green);
}

#search-btn{
    display: none;
}

.header .header-2{
    background:var(--navbar);
    
}

.header .header-2 .navbar{
    text-align: center;
}

.header .header-2 .navbar a{
    color:#fff;
    display: inline-block;
    padding:1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover{
    background: 	#DDA0DD;
}

.header .header-2.active{
    position:fixed;
    top:0; left:0; right:0;
    z-index: 1000;

}
.button {
    margin-top:1.2rem;
    display: inline-block;
    font-weight: 400;
    font-size: 1.5rem;
    cursor:pointer;
    background: var(--navbar);
    color:white;
    padding: 1rem 2rem;
    height: 4.1rem;
    width: fit-content;
    border-radius: 5px;
    transform: all ease-in-out 10s;
}
.button:hover {
    background: 	#DDA0DD;
    font-weight: bold;
    width: fit-content;
    transform: all ease-in-out 12s;
}

.home {
    background: url(../banner-bg.jpg);
    background-size: cover;
    background-position: center;
    min-height: 72vh;
    height: auto;
}
.home .row {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}
.home .row .content{
    
    flex:1 1 42rem;
    margin-top: 3rem;
}
.home .row .book-cover{
    flex:1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}
.home .row .content h2{
    color:var(--black);
    font-size: 4.5rem;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 5.5rem;
}
.home .row .content p{
    color:var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding:1rem 0;
    font-weight: 400;
}
.icons-container{
    /* display: grid;
     */
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24.5rem, 1fr));
    gap:1.5rem;
    background: white;
}

.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,.9);
    position:fixed;
    top:0;
    top:0; right:-105%;  
    z-index: 10000;
    height:100%;
    width:100%;
}
.login-form-container.active{
    right:0;
}

.login-form-container form{
    background:#fff;
    border:var(--border);
    width:40rem;
    padding:2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin:2rem;
}
.login-form-container form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color:var(--black);
    text-align: center;
    font-weight: 500;
}
.login-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box{
    width: 100%;
    margin:.7rem 0;
    font-size: 1.6rem;
    border:var(--border);
    border-radius: .5rem;
    padding:1rem 1.2rem;
    color:var(--black);
    text-transform: none;
}
.login-form-container span {
    text-transform: capitalize;
}
.cross {
    height:auto;
    width: auto;
    font-size: 50px;
    position: absolute;
    top: 4%;
    left:90%;
    background: rgba(255,255,255,.9);
    opacity: 0.8;
    cursor: pointer;
}

.password , .username {
    border:#696969 solid 2px;
    font-size: 1.2rem;
    width: 100%;
    border-radius: 5px;
    padding: .51rem;
    margin-top: .81rem;
    
}
.sign-in {
    background: var(--navbar);
}
.login-form-container form .checkbox{
    display:flex;
    align-items: center;
    gap:.5rem;
    padding:1rem 0;
}

.login-form-container form .checkbox label{
    font-size: 1.5rem;
    color:var(--light-color);
    cursor: pointer;
}

.login-form-container form .btn{
    text-align: center;
    width:100%;
    margin:1.5rem 0;
}

.login-form-container form p{
    padding-top: .8rem;
    color:var(--light-color);
    font-size: 1.5rem;
}

.login-form-container form p a{
    color:var(--green);
    text-decoration: underline;
}

.login-form-container #close-login-btn{
    position: absolute;
    top:1.5rem; right:2.5rem;
    font-size: 5rem;
    color:var(--black);
    cursor: pointer;
}

.icons-container .icons{
    display: flex;
    align-items: center;
    gap:1.5rem;
    padding:0.9rem ;
    height: 12rem;
    border:solid 1px #bfbfbf;
    box-shadow: 10px 10px 5px #f0e5e5;
}
.social-media-buttons {
    text-align: center;
}
.social-media {
    display: flex;
    justify-content: center;
}
.social-icon {
    height: 65px;
    width: 65px;
    border: 1px solid #333;
    margin: 0 0.45rem;
    margin-top: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1.85rem;
    border-radius: 50%;
}
.other-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card {
    backdrop-filter: blur(12px) saturate(112%);
    -webkit-backdrop-filter: blur(12px) saturate(112%);
    background-color: rgba(0,0,0,0);
    border-radius: 12px;
    
}
.icons-container .icons i{
    font-size: 3.9rem;
    margin-right: 0.6rem;
    color:var(--navbar);
}
.icons-container .icons h3{
    font-size: 2.2rem;
    color:var(--black);
    padding-bottom: .5rem;
}
.icons-container .icons p{
    font-size: 1.4rem;
    color:var(--light-color);
}
.footer {
    background: var(--navbar);
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;   
    padding: 70px 0;
}
.footer-col{
   width: 24%;
   padding: 0 15px;

}
.footer-col.icon-col{
    width: 27%;
}
.footer-col h4{
	font-size: 24px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 19px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;

}
.footer-col .social-links a{
	display: inline-flex;
    align-items: center;
    flex-direction: row;
	width: 3.4rem;
    padding: 12px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
    font-size: 1.8rem;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
/* media queries  */

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header .header-1{
        padding:2rem;
    }
    section{
        padding:3rem 2rem;
    }
}

@media (max-width:768px){
    html{
        scroll-padding-top: 0;
    }
    body{
        padding-bottom: 6rem;
    }
    .header .header-2{
        display:none;
    }
    .bottom-navbar{
        display: block;
    }
    #search-btn{
        display: inline-block;
    }
    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }
    .header .header-1 .search-form{
        position:absolute;
        top:-115%; right:2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }
    .header .header-1 .search-form.active{
        top:115%;
    }
    .home .row .content{
        text-align: center;
    }
    .home .row .content h3{
        font-size: 3.5rem;
    }
    .newsletter{
        background-position: right;
    }
    .newsletter form{
        margin-left:0;
        max-width: 100%;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
}